# Ignore Git directory
.git/

# Ignore cocker settings
docker*

# Ignore Maven wrapper files (optional if you don't want them in the repo)
.mvn/
mvnw
mvnw.cmd

# Ignore IDE settings
.vscode/

# Ignore build output directories
target/
data/